* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background: #cdcbcb;
}

#title {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 4rem;
  max-width: 60rem;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  margin-top: 2rem;
  background: black;
  color: white;
}

.title-bar {
  margin: 0 auto;
  margin-bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  font-family: "Inconsolata", monospace;
  background: #440590;
  background: -o-linear-gradient(355deg, #440590 0%, #050353 100%);
  background: linear-gradient(95deg, #440590 0%, #050353 100%);
  color: white;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.title-bar p {
  margin-left: 1rem;
}
.title-bar .fa-arrows-alt {
  margin-left: auto;
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.title-bar .fa-arrows-alt:hover {
  color: #dfdddd;
}

.editor-section {
  margin: 0 auto;
  width: 70vw;
  -webkit-box-shadow: 1px 1px 10px 2px #242424;
          box-shadow: 1px 1px 10px 2px #242424;
  margin-bottom: 5rem;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.editor-section.windowMaximise_true {
  position: fixed;
  top: 0;
  left: 2.5vw;
  width: 95vw;
  height: 100vh;
}
.editor-section.windowMaximise_true textarea {
  min-height: 100%;
}
.editor-section textarea {
  width: 100%;
  min-height: 25rem;
  resize: vertical;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
}

.preview-section {
  margin: 0 auto;
  width: 90vw;
  -webkit-box-shadow: 1px 1px 10px 2px #242424;
          box-shadow: 1px 1px 10px 2px #242424;
  margin-bottom: 5rem;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.preview-section.windowMaximise_true {
  position: fixed;
  top: 0;
  left: 2.5vw;
  width: 95vw;
  height: 100vh;
  overflow-x: scroll;
}
.preview-section.windowMaximise_true #preview {
  min-height: 100%;
}
.preview-section #preview {
  width: 100%;
  min-height: 25rem;
  background: white;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
.preview-section pre {
  background: #222222;
  font-family: "Inconsolata", monospace;
  color: #0de80d;
  padding: 1rem;
  font-size: 1.4rem;
}
.preview-section code {
  font-family: "Inconsolata", monospace;
  background: #222222;
  padding: 0 0.5rem 0 0.5rem;
  color: #0de80d;
  font-size: 1.4rem;
}
.preview-section table,
.preview-section th,
.preview-section td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1rem;
}